<!DOCTYPE html>
<html>
<head>
    <title>Claim Item</title>
    {% load static %} <!-- Load the static template tag library -->
    <link rel="stylesheet" href="{% static 'lostandfound/css/style.css' %}"> <!-- Link to your CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
</head>
<body>
    <div class="container my-5">
        <div class="card">
            <div class="card-header text-center">
                <h1>Claim Your Item</h1>
            </div>
            <div class="card-body">
                <p class="text-center">Please retrieve your item from the Office of Administrative Services (OADSA), Xavier Hall, Ateneo de Manila University, within 2-3 days, or it will be relisted on the site.</p>
                <p class="text-center">Please ensure the item is yours before clicking the claim button. The item will only be released to you upon physical verification at the Office of Administrative Services (OADSA).</p>
                <form method="post" class="text-center">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-lg my-3">Claim</button>
                </form>
                <div class="text-center">
                    <a href="{% url 'homepage' %}" class="btn btn-secondary btn-lg">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery for Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->
</body>
</html>
